
{{ form_start(articleForm) }}
        <div class="form-group">
            <label for="article_title">Titre de l'article</label>
            {{ form_widget(articleForm.title) }}
            <small class="text-danger">
                {{ form_errors(articleForm.title) }}
            </small>
        </div>

        <div class="form-group">
            <label for="article_content">Contenu de l'article</label>
            {{ form_widget(articleForm.content) }}
        </div>
        
        <div class="form-group">
            <label for="article_author">Auteur de l'article</label>
            {{ form_widget(articleForm.author) }}
        </div>

        <div class="form-group">
            <label for="article_category">Catégorie de l'article</label>
            {{ form_widget(articleForm.category) }}
        </div>

        <button type="submit" class="btn btn-primary btn-block">
            Créer l'article
        </button>
    {{ form_end(articleForm) }}

    <a href="{{ path('article.index') }}"><h3 style="text-align: center">Annuler</h3></a>